.DayPickerInput {
    margin-bottom: 16px;
    input {
        background: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        box-shadow: 2px 2px 12px #ccc;
    }
}